/* .extraOne{
    display: grid;
    grid-template-columns: repeat(3,1fr);
} */
 .extra1-image{
     border-radius: 7px 7px 0px 0px;
     
}
.extra-child-div{
    border-radius: 7px;
    padding: 7px;
    transition: 0.5s;
    width: 30%;
    margin: 10px;
    box-shadow: 1px 1px 17px rgba(128, 128, 128, 0.603);    
}
.extra-child-div:hover{
    transform: scale(1.05);
}
.extra1-text{
    padding: 7px;
    margin-top: 15px;
}

/* @media only screen and (max-width: 576px) {
    .extraOne{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }
    
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .extraOne{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }
    
} */