.header{
    height: 80px;
    padding-bottom: 10px;
    padding-top: 25px;
    padding-left:50px ;
    background-color: deepskyblue;
}
.header nav a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
    padding-top: 10px;
    font-weight: 700;
    font-size: large;
}
.header nav a:hover{
    color: white;
    

}
.signOut-button{
    background-color: goldenrod;
}
.signOut-button:hover{
    background-color: lightcoral;
}